<html>
    <head>
        <title>CEI</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-3 text-center px-2">
                        <a class="nav-link px-0 index" href="#">Back</a>
                    </div>
                    <div class="col-6 text-center px-2">
                        <a class="navbar-brand mb-0 px-0 mx-0 h1">CEI</a>
                    </div>
                    <div class="col-3 text-center px-2">
                        
                    </div>
                </div>
                
            </div>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <span class="column-name">Test1</span>

                        <div class="col-12 res-container">
                            <div class="res" id="0">
                                <span class="idx">1.</span>
                                <span class="input">Result1</span>
                            </div>
                            <div class="res" id="1">
                                <span class="idx">2.</span>
                                <span class="input">Result1</span>
                            </div>
                            <div class="res" id="2">
                                <span class="idx" id="2">3.</span>
                                <span class="input">Result1</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
        <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../js/iframe.js" type="text/javascript"></script>
        

    </body>
</html>