<html>
    <head>
        <title>Extensions</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-3 text-center px-2">
                        <a class="nav-link px-0 index" href="#">Back</a>
                    </div>
                    <div class="col-6 text-center px-2">
                        <a class="navbar-brand mb-0 px-0 mx-0 h1">CEI</a>
                    </div>
                    <div class="col-3 text-center px-2">
                        
                    </div>
                </div>
                
            </div>
        </header>
        <main>
            <div class="container">
                <div class="container">
                    <div class="text-container">
                        <h1>h1 Extension</h1>
                        <h2>h2 Extension</h2>
                        <p class="h3">h3 Extension</p>
                    </div>
                    
                    <div class="text-container">
                        <h1 class="display-3">Display 3</h1>
                        <h1 class="display-4">Display 4</h1>
                    </div>
    
                    <div class="text-container">
                        <p class="lead">Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.</p>
                    </div>
    
                    <div class="text-container">
                        <blockquote class="blockquote text-right">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                    
    
                    <button type="button" class="btn btn-primary add" href="#">Add</button>
                </div>
                
                <div class="row">
                    <div class="col-12">
                        <span class="column-name">Test1</span>

                        <div class="col-12 res-container">
                            <div class="res" id="0">
                                <span class="idx">1.</span>
                                <span class="input">Result1</span>
                            </div>
                            <div class="res" id="1">
                                <span class="idx">2.</span>
                                <span class="input">Result1</span>
                            </div>
                            <div class="res" id="2">
                                <span class="idx" id="2">3.</span>
                                <span class="input">Result1</span>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
        <footer>

        </footer>
        <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../js/iframe.js" type="text/javascript"></script>
        

    </body>
</html>