<!DOCTYPE html>
<html>

    <head>
        <title>Extensions</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../css/side.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-3 text-center px-2">
                        <a></a>
                    </div>
                    <div class="col-6 text-center px-2">
                        <a class="navbar-brand mb-0 px-0 mx-0 h1">CEI</a>
                    </div>
                    <div class="col-3 text-center px-2">
                        <a class="nav-link px-0 add" href="#">More UI</a>
                    </div>
                </div>
                
            </div>
        </header>
        
        <main>
            <div class="container">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Full-stack developer</h5>
                        <small>Today</small>
                      </div>
                      <p class="mb-1">Donec id elit non mi porta gravida at eget metus.</p>
                      <small>Maecenas sed diam eget risus varius blandit.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Data engineer</h5>
                        <small class="text-muted">Yesterday</small>
                      </div>
                      <p class="mb-1">Maecenas sed diam eget risus varius blandit.</p>
                      <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">React web developer</h5>
                        <small class="text-muted">3 days ago</small>
                      </div>
                      <p class="mb-1">Maecenas sed diam eget risus varius blandit.</p>
                      <small class="text-muted">Donec id elit non mi porta.</small>
                    </a>
                  </div>
                

                <button type="button" class="btn btn-primary add" href="#">Add</button>
            </div>
            
        </main>

        <footer>

        </footer>

        <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../js/iframe.js" type="text/javascript"></script>
        
    </body>
</html>