<!DOCTYPE html>
<html>

    <head>
        <title>CEI</title>
        <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-3 text-center px-2">
                        <a></a>
                    </div>
                    <div class="col-6 text-center px-2">
                        <a class="navbar-brand mb-0 px-0 mx-0 h1">CEI</a>
                    </div>
                    <div class="col-3 text-center px-2">
                        <a class="nav-link px-0 add" href="#">Tab</a>
                    </div>
                </div>
                
            </div>
        </header>
        
        <main>
            <div class="container">
                <p>More design sample will be added</p>
                <button type="button" class="btn btn-primary add" href="#">Add</button>
            </div>
            
        </main>

        <footer>

        </footer>

        <script src="../js/jquery-3.4.1.min.js" type="text/javascript"></script>
        <script src="../js/iframe.js" type="text/javascript"></script>
        
    </body>
</html>